body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);

}

.container-welcome {
  width: 1200px;
  height: 506px;
  background-color: #ffffff;
  background-image: url("../img/background-photo.jpg");
  background-position: 1px -55px;
  background-repeat: no-repeat;

}

.container-img {
  text-align: center;
  padding-top: 76px;
  margin: 0;
}

.container-welcome::after {
  content: url("../img/polygon.svg");
  padding: 0;
  padding-top: 16px;
  display: block;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 282px;
  padding-right: 282px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.button-more {
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding: 5px 17px;
}

.button-more:hover,
.button-more:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.button-more:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.button-to-book {
  background-color: #766357;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding: 5px 17px;
}

.button-to-book:hover,
.button-to-book:focus {
  color: #ffffff;
  background-color: #604e43;
}

.button-to-book:active {
  color: #928a85;
  background-color: #503e33;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation-link {
  color: #000000;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #81b3d2;
}

.site-navigation-link:active {
  color: #cecece;
}

.site-navigation-current{
  color: #827167;
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
  color: #ffffff;
}

.filter-input-checkbox:disabled {
  color: #6a6a6a;
}

.inner-page {
  background-image: none;
}

.search {
  background-color: #fdfdfd;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.button-search {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.button-search:hover {
  color: #000000;
  background-color: #ffffff;

}

.result-list {
  list-style: none;
}

.result-link{
  text-decoration: none;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.result-link:hover,
.result-link:focus{
  color: #95bed8;
  border-bottom: 1px dotted #81b3d2;
}

.result-link:active {
  color: #000000;
  border: none;
}

.result-link-current {
  color: #81b3d2;
  border: none;
}

.result-link-current:hover,
.result-link-current:focus {
  border: none;
}

.result-link-current:active {
  border: none;
}

.found-hotels {
  box-sizing: border-box;
  padding: 0 71px;
  background-image: url("../img/polygon1.png"), url("../img/polygon1.png"), url("../img/polygon1.png"), url("../img/polygon1.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0 0, 0 150px, 0 301px, 0 452px;
}

.found-hotels-title {
  font-size: 21px;
  line-height: 26px;
}

.found-hotels-title-link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.found-hotels-title-link:hover,
.found-hotels-title-link:focus{
  color: #81b3d2;
}

.found-hotels-title-link:active{
  color: #cacaca;
}

.description h1 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-left: 6px;
  margin-top: 2px;
}

.description p {
  line-height: 26px;
  margin-top: 27px;
  margin-bottom: 0;
  margin-left: 2px;
}

.features p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.features-list {
  list-style: none;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding: 0 92px;
  margin-top: 20px;
}


.features-cell p {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 11px;
}

.features-cell h3 {
  margin: 0;
  margin-bottom: 13px;
}

.features-cell-1 {
  padding: 0 92px;
}

.features-cell-2 {
  padding: 0 77px;
}

.features-cell-p {
  padding: 0 55px;
}

.features-block-first-p {
  padding: 0 47px;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 83px;
}

.features-block-second-p {
  padding: 0 25px;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 35px;
}

.features-block-second-p1 {
  margin: 0;
  margin-left: 3px;
  margin-right: 4px;
  margin-top: 21px;
  padding: 0 25px;
}

.features-cell-p-second {
  padding: 0 45px;
}

.search-hotel {
  color: #000000;
  background-color: #ffffff;
}

.search-hotel h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-top: 48px;
  margin-bottom: 10px;
}

.search-hotel p {
  line-height: 24px;
  margin-bottom: 47px;
}

.search-hotel-button {
  font-size: 21px;
  font-weight: 700;
  display: inline-block;
  padding: 32px 140px;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.search-hotel-button:hover {
  background-color: #604e43;
}

.search-hotel-button:active {
  background-color: #503e33;
}

.search-hotel-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 462px;
  padding-bottom: 54px;
  padding-left: 47px;
}

.search-hotel-item {
  position: relative;
  padding-bottom: 30px;
  padding-left: 45px;
  margin: 0;
  width: 462px;
}

.calendar {
  position: absolute;
  bottom: 35px;
  right: 5px;
  border-style: none;
  background: none;
  fill: #cacaca;
}

.calendar:hover,
.calendar:focus {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}


.minus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
  padding: 0;
}

.plus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
  padding: 0;
}

.search-hotel-item-second {
  display: flex;
  align-items: center;
  margin: 0;
}

.search-hotel-item-second input[type="text"] {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  text-align: center;
  border-style: none;
}

.search-hotel-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: 0px solid;
  width: 346px;
  padding-left: 20px;
  height: 38px;
}

.search-hotel-item input[type="text"]:hover {
  background-color: #ebebeb;
}

.search-hotel-item input[type="text"]:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.button-main {
  display: inline-block;
  width: 458px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 0 50px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.button-main:hover {
  background-color: #669ec0;
}

.button-main:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.copyright {
  align-items: center;
  align-content: center;
  padding-bottom: 5px;
  padding-right: 9px;
}

.modal {
  position: fixed;
  top: 366px;
  left: 50%;
  width: 568px;
  padding: 55px;
  margin-left: -339px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  display: none;
}

.modal-show {
  display: flex;
}

/* Сеточные стили */


.main-header {
  position: relative;
}

.main-navigation {
  background-color: #ffffff;
  width: 100%;
}

.site-navigation {
  display: flex;
  padding: 15px 70px;
  list-style: none;
  box-sizing: border-box;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  position: absolute;
  right: 50%;
  bottom: -31px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: -90px;
}

.site-navigation-item {
  justify-content: space-between;
  padding: 0;
  width: 25%;
}

.site-navigation-item:nth-child(3),
.site-navigation-item:nth-child(4) {
  text-align: right;
}

.features-list {
  margin: 0;
  padding: 0;
}

.features-item {
  display: flex;
  text-align: center;
  width: 100%;

}

.features-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  color: #ffffff;

  background-color: #81b3d2;
}

.features-img {
  width: 800px;
  height: 256px;
}

.features-img-jpg {
  padding-bottom: 10px;
}

.features-block-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  /* min-height: 330px; */
  background-color: #ffffff;
}


.features-block-second {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 26px 0;
  padding-left: 45px;
  padding-right: 43px;
  color: #000000;

  background-color: #eeeeee;
}

.features-block-second-span {
  margin: 0;
  margin-right: 1px;
  margin-top: 4px;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.inner-page .main-footer {
  position: static;
  margin: 0;
  padding: 35px 0;
}

.main-footer {
  position: relative;
  padding: 35px 0;
  margin-top: -126px;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: #000000;
  box-shadow: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  padding-left: 37px;
}

.hashtag {
  margin: 0;
  padding-left: 15px;
  padding-bottom: 3px;
}

.footer-copyright {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0;
  padding-top: 3px;
  padding-left: 8px;
}

.found-hotels-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.found-hotels-item {
  display: flex;
  padding-top: 23px;
  padding-bottom: 25px;
}

.found-hotels-img {
  align-self: flex-start;
  padding-right: 30px;
  padding-top: 7px;
}

.found-hotels-rating {
  position: relative;
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
  padding-bottom: 7px;
}

.rating-star-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6px;
}

.rating-star {
  margin-left: 3px;
}

.rating {
  background-color: #f2f2f2;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.value-hotels {
  margin: 0;
  padding-bottom: 13px;
  padding-top: 9px;
  font-size: 14px;
  line-height: 21px;
}

.hotel-type {
  display: inline-block;
  min-width: 113px;
}

.features-block-first:nth-child(1)::before {
  content: "";
  position: relative;
  top: -10px;
  left: 0px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 69px;
}

.features-block-first:nth-child(2)::before {
  content: "";
  position: relative;
  top: -10px;
  left: 0px;

  width: 74px;
  height: 70px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 70px;
}

.features-block-first:nth-child(3)::before {
  content: "";
  position: relative;
  top: -10px;
  left: 0px;

  width: 64px;
  height: 76px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 65px;
}

.search-hotel-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  width: 550px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: #000000;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.button-footer:hover path,
.button-footer:focus path {
  fill: #81b3d2;
}

.button-footer:active path {
  fill: #bdbbbc;
}

.search {
  min-height: 215px;
  color: #ffffff;
}

.filter {
  display: flex;
  flex-wrap:  wrap;
  height: 216px;;
}

.filter-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 73px;
  padding-right: 47px;
}

.filter-fieldset .filter-legend {
  padding-bottom: 9px;
  padding-top: 26px;
  padding-left: 2px;
}

.filter-fieldset legend {
  padding-top: 26px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-fieldset:nth-child(3) {
  margin-left: auto;
}

.filter-list {
  padding: 0;
  padding-left: 9px;
  margin: 0;
  list-style: none;
  line-height: 21px;
  font-size: 14px;
}

.filter-option {
  position: relative;
  padding-bottom: 25px;
  margin: 0;
  margin-left: -10px;
}

.filter-option label {
  padding-left: 39px;
  cursor: pointer;
}

.filter-option input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/checkbox-off.svg");
}

.filter-option input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/checkbox-on.svg");
}

.result {
  display: flex;
  padding: 0 71px;
}

.result-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-right: 6px;
}

.result h3 {
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 30px;
}

.result-list {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 48px;
  justify-content: center;
}

.result-item {
  padding: 0;
  padding-left: 33px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.result-item-button {
  margin-left: auto;
  margin-top: 34px;
  padding-right: 1px;
}

.button-up path {
  fill: #cacaca;
}

.button-up path:hover,
.button-up path:focus {
  fill: #231f20;
}

.button-up path:active {
  fill: #81b3d2;
}

.button-down path {
  fill: #cacaca;
}

.button-down path:hover,
.button-down path:focus {
  fill: #231f20;
}

.button-down path:active {
  fill: #81b3d2;
}

.button-down {
  padding-left: 8px;
}

.button-down-current path {
  fill: #81b3d2;
}
/* Фильтр внутренней страницы */

.filter-range {
  width: 330px;
  margin-right: 13px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 34px;
  width: 314px;
  margin-bottom: 19px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 91px;
  padding-left: 65px;
  margin-top: -3px;
  margin-right: -9px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  margin-right: 12px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 77%;
}

.btn-transparent {
  display: block;
  margin: 0 84px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
